@import "../../../../styles";


.task-form-default {
  margin: 40px 0px;
  border-right: 2px solid $terceary-little-light;

  label {
    margin-top: 7px;
  }
  .text-muted {
    font-size: 12px;
    margin-top: 7px;
  }
}

.modal-footer {
  color: $primary-default;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;

  p {
    font-size: 12px;
    margin-bottom: 0px;
  }

}