<div class="body-blue">
    <section class="box-form border-radius text-center">

        <div class="header-dark border-radius-top">
            <img src="assets/logo-plann.svg" alt="Plann" class="logo">
        </div>

        <div class="box-body">
            <router-outlet></router-outlet>
        </div>

    </section>

    <p class="text-center text-negative" *ngIf="showRegisterButton">
        Não possui cadastro?
        <a routerLink="cadastro">Cadastre-se</a>
    </p>

    <p class="text-center text-negative" *ngIf="!showRegisterButton">
        Já possui cadastro?
        <a routerLink="login">Faça seu login!</a>
    </p>
</div>