<div class="modal-tasks-day">

    <div class="modal-tasks-day-header">
        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="text-success no-input text-capitalize add-tasks" (click)="addSubTask()">
                    <i class="glyphicon glyphicon-plus icon-border"></i>
                    adicionar
                </button>
            </div>
            <div class="col-xs-4">
                <p class="text-muted">Prazo Final</p>
            </div>
            <div class="col-xs-2">
                <p class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    Estimado
                </p>
            </div>
            <div class="col-xs-2">
                <p class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    Trabalhado
                </p>
            </div>
            <div class="col-xs-1 text-right">
                <i class="glyphicon glyphicon-search icon-border"></i>
            </div>
        </div>
    </div>

    <ul class="list-unstyled modal-tasks-day-list scrollbox">
        <li *ngFor="let subTask of task.subTasks" class="row">
            <div class="col-xs-3 no-padding">
                <label for="sub-task{{subTask.id}}-status" class="plann-checkbox">
                    <input id="sub-task{{subTask.id}}-status" type="checkbox">
                    <span>Finalizado</span>
                </label>
            </div>
            <div class="col-xs-4">
                <label for="sub-task{{subTask.id}}-due-date" class="sr-only">Prazo Final</label>
                <input id="sub-task{{subTask.id}}-due-date" type="date" class="form-control">
            </div>

            <div class="col-xs-2">
                <label for="sub-task{{subTask.id}}-estimated-time" class="sr-only">Estimado</label>
                <input id="sub-task{{subTask.id}}-estimated-time" type="time" class="form-control">
            </div>

            <div class="col-xs-2">
                <label for="sub-task{{subTask.id}}-spent-time" class="sr-only">Trabalhado</label>
                <input id="sub-task{{subTask.id}}-spent-time" type="time" class="form-control">
            </div>

            <div class="col-xs-1 text-right">
                <button type="button" class="text-danger no-input" (click)="removeSubTask(subTask)">excluir</button>
            </div>
        </li>
    </ul>

    <div class="row modal-tasks-day-footer">
        <div class="col-xs-3">
            <p><strong>{{ task.subTasks.length }} cadastradas/{{ countTasksDone() }} finalizadas</strong></p>
        </div>
        <div class="col-xs-4">
            <p><strong>25 dias</strong></p>
        </div>

        <div class="col-xs-2">
            <label for="task{{task.id}}-estimated-time" class="sr-only">Estimado Total</label>
            <input id="task{{task.id}}-estimated-time" type="tel" value="999h99" class="no-input disable-clicks">
            <!--TODO add time mask-->
        </div>
        <div class="col-xs-2">
            <label for="task{{task.id}}-spent-time" class="sr-only">Trabalhado Total</label>
            <input id="task{{task.id}}-spent-time" type="tel" value="999h99" class="no-input disable-clicks">
            <!--TODO add time mask-->
        </div>
    </div>
</div>