<h1 class="box-title">Esqueceu sua senha?</h1>
<p>Digite abaixo seu e-mail para recuperá-la!</p>

<form class="form-horizontal" [formGroup]="forgotPasswordForm" (submit)="recoverPassword()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="email" class="sr-only">Seu e-mail</label>
            <input id="email" class="form-control input-lg" type="email" placeholder="Seu e-mail"
                   formControlName="email">
        </div>
    </div>

    <button class="btn btn-success btn-lg btn-block btn-border-bottom">Redefinir senha</button>
</form>