<h1 class="box-title">Resetar senha</h1>
<p>Digite abaixo seu e-mail, senha e confirmação de senha para resetá-la!</p>

<form class="form-horizontal" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="email" class="sr-only">Seu e-mail</label>
            <input id="email" class="form-control input-lg" type="email" placeholder="Seu e-mail"
                   formControlName="email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="password" class="sr-only">Senha</label>
            <input id="password" class="form-control input-lg" type="password" placeholder="Senha"
                   formControlName="password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="password_confirmation" class="sr-only">Confirmar senha</label>
            <input id="password_confirmation" class="form-control input-lg" type="password"
                   placeholder="Confirmar Senha" formControlName="password_confirmation">
        </div>
    </div>

    <button class="btn btn-success btn-lg btn-block btn-border-bottom">Resetar senha</button>
</form>